server:
  port: 8888

spring:
  application:
    name: olaya-layadi-gateway
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        service-name: olaya-layadi-gateway
        health-check-path: /actuator/health
        health-check-interval: 10s

management:
  endpoints:
    web:
      exposure:
        include: health,info
